<nav>
    <a href="/">Home</a>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
</nav>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

<!-- a partial -- a pice of code that can be shared in multiple views e.g. header, footer, sidenav, aside\adverts ... -->