<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login System</title>
</head>
<body>
    <% if(locals.user){ %>
        <h1>Welcome <%=user.fullname%></h1>
    <% } else { %>
        <h1>Welcome User</h1>
    <% } %>

    <%- include("_nav.ejs") %>
    <p>This is a login system that can be intergrated into any project!!</p>
    <p>System capabilities</p>
    <ul>
        <li>Account Creation</li>
        <li>Logging in</li>
        <li>Session Management</li>
    </ul>
    <p>Add-ons</p>
    <ul>
        <li>Password encryption</li>
        <li>Backend input validation</li>
    </ul>
    <script>
        document.cookie = "name=oeschger; SameSite=None; Secure";
        document.cookie = "favorite_food=tripe; SameSite=None; Secure";

    </script>
</body>
</html>