<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <h1>SignUp Page</h1>
    <%- include("_nav.ejs") %>

    <h3>SignUp</h3>
    <form action="http://locahost:5000/signup" method="POST">
        <div>
            <label for="fullname">Full name</label>
            <input type="text" name="fullname" id="fullname">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" id="dob">
        </div>
        <div>
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass">
        </div>
        <div>
            <label for="confirm-pass">Confirm Password</label>
            <input type="password" name="confirm-pass" id="confirm-pass">
        </div>
        <div>
            <input type="submit" value="Signup">
        </div>
    </form>
</body>
</html>