<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <h1>SignUp Page</h1>
    <%- include("_nav.ejs") %>

    <h3>SignUp</h3>
    <link rel="stylesheet" href="page.css">
    <!-- truthy and falsy values in js -->
    <!--  the data/object rendered alonglisde a view is called the locals object  -->
    <% if(locals.error){ %>
        <form action="http://localhost:5000/signup"  method="post">
            <p style="color: orangered;"> <%= errMessage %> </p>
            <div>
                <label for="fullname">Full name</label>
                <input type="text" name="fname" id="fullname"  >
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob">
            </div>
            <div>
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" id="phone" value="+254">
            </div>
            <div>
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass">
            </div>
            <div>
                <label for="confirm-pass">Confirm Password</label>
                <input type="password" name="confirm_pass" id="confirm-pass">
            </div>
            <div>
                <input type="submit" value="Signup">
            </div>
        </form>
        <% } else { %>
            <form action="http://localhost:5000/signup"  method="post">
                <div>
                    <label for="fullname">Full name</label>
                    <input type="text" name="fname" id="fullname"  >
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div>
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="dob">
                </div>
                <div>
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" value="+254">
                </div>
                <div>
                    <label for="pass">Password</label>
                    <input type="password" name="pass" id="pass">
                </div>
                <div>
                    <label for="confirm-pass">Confirm Password</label>
                    <input type="password" name="confirm_pass" id="confirm-pass">
                </div>
                <div>
                    <input type="submit" value="Signup">
                </div>
            </form>
            <% } %>
    
</body>
</html>